/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Starts Here */

* {
  width: 100%;
  margin: auto;
}

nav, .navbar {
  display: inline-block;
  width: 100%;
  margin: auto;
  height: auto;
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.plan {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 12%;
  margin-right: 6.25rem;
  border-radius: 15px;
  padding: 20px;
  background-color: #FF764E;
}

.plan:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
}

.learn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 12%;
  margin-right: 6.25rem;
  border-radius: 15px;
  padding: 20px;
  background-color: #5ED3EB;
}

.learn:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
}

.involved {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 12%;
  margin-right: 6.25rem;
  border-radius: 15px;
  padding: 20px;
  background-color: #FFCD69;
}

.involved:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
}
.logo {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  margin-left: 5%;
  padding: 4%;
}

.top-section {
  display: inline-block;
  position: absolute;
  margin-top: 5%;
  width: 50%;
  text-align: center;
}

.top-section h1 {
  font-size: 4rem;
  font-family: 'Chelsea Market', sans-serif;
}

.top-section p {
  font-size: 1.5rem;
  font-family: 'Roboto Mono', sans-serif;
}

.middle-section {
  display: block;
  background-color: #DDB9A3;
  color: white;
  width: 90%;
  margin: auto;
  padding: 2%;
  font-size: 1.5rem;
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
}

.bottom-section p {
  width: 30%;
  margin: auto;
  text-align: center;
}

.fire {
  display: block;
  width: 20%;
  height: 20%;
  margin: auto;
  padding: 5%;
}

.fire-text {
  font-size: 1.2rem;
  font-family: 'Roboto Mono', sans-serif;
}

.rv {
  display: block;
  width: 20%;
  height: 20%;
  margin: auto;
  padding: 5%;
}

.rv-text {
  font-size: 1.2rem;
  font-family: 'Roboto Mono', sans-serif;
}

.footer-img {
  width: 100%;
  object-fit: cover;
  height: 350px;
  padding-top: 40px;
}

.navbar-footer {
  background-color: #F9E7DC;
}